.App {
  text-align: center;
}

.App h1,
.App h3{
  color: crimson;
}

.App .grupoid{
  font-size: xxx-large;

}

.App .grupoid h2{
  display: inline-block;
}

.App .grupoid input{
  width: 60px;

  font-size: x-large;
  border-radius: 7px;
  outline: none;
  border: 1px solid crimson;
  box-shadow: 1px 1px rgba(220, 20, 60, 0.3);
}

.App .grupoid #button-container{
  width: 100%;
  padding: 0;
  margin-top: -50px;
}

.App .grupoid #button-container button{
  margin: 0 auto;
  box-shadow: 1px 1px rgba(220, 20, 60, 0.3);
  background: crimson;
  border: 1px solid crimson ;
  color:white;
  font-weight: bold;
  font-size: large;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  transition: 0.3s linear all;
}

.App .grupoid #button-container button:hover{
  cursor: pointer;
  background-color: #990011FF;
  border-color: #990011FF;
}

.App #results #generators{
  overflow-wrap: break-word;
}

.App #results #generators span{
  color: crimson;
}

#subgroup-info h3{
  color: crimson;
}

#subgroups-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.subgroup{
  border-radius: 10px;
  min-height: 30px;
  min-width: 100px;
  max-width: 200px;
  margin: 15px 20px;
  padding: 10px;
  font-size: x-large;
  border: 1px solid crimson;
  box-shadow: 1px 1px rgba(220, 20, 60, 0.3);
}

.subgroup .index{
  font-size: 50%;
  color: red;
  font-weight: bold;
}

.subgroup .constant{
  color: red;
  font-weight: bold;
}

#results{
  margin-bottom: 50px;
}


#generators-h{
  font-weight: bold;
  font-size: large;
  color: crimson;
}